* {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    user-select: none;
    cursor: default;
}

a{

    text-decoration-line: none;

}

li{

    list-style-type: none;

}

body{

    background: url(../resources/BackGround.png) repeat rgba(255, 254, 248, 0.8);

}

#MyTitle {

    color: #CCCCCC;
    background-color: #202020;
    text-align: left;
    width: 100%;
    position: relative;

}

#MyTitle h1 {

    padding: 20px;

}

#ContentFrame {

    position: absolute;

    left: 100px;

    width: calc(100% - 100px);

}