*{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.MyTitle {

    color: #CCCCCC;
    background-color: #202020;
    text-align: left;
    padding: 20px;
    width: 100%;
    position: relative;

}

.MyAside{

    position: relative;
    background: #7c7c7c;
    width: 50px;
    height: auto;
    transition: width 1s;

}

.MyAside:hover{
    width: 250px;
}

.AsideControlButton{

    border: 0;
    position: relative;
    padding: 0 0 0 0;
    background-color: black;
    width: 50px;
    opacity: 100%;
    transition: opacity 1s,padding 1s;

}

.MyAside:hover .AsideControlButton{
    opacity: 0;
    padding: 0 100px 0 100px;
}

.MyAside-Item{

    border-width: 5px 0 5px 0;
    border-color: #222222;
    text-align: center;
    transition: opacity 1s,background-color 0.5s,color 0.5s;
    padding: 10px 0 10px 0;
    margin: 5px 0 5px 0;

}

.MyAside .MyAside-Item{

    opacity: 0;
    background-color: #CCCCCC;
    color: #202020;

}

.MyAside:hover .MyAside-Item{

    opacity: 100%;

}

.MyAside:hover .MyAside-Item:hover{

    background-color: #202020;
    color: #CCCCCC;

}

.MyNav{

    background-color: #404040;
    overflow: hidden;
    position: relative;
    width: 100%;

}

.MyNav-Item{

    float: right;
    text-align: center;
    padding: 10px 15px 10px 15px;
    color: #CCCCCC;

}

.MyNav-Item:hover{

    background-color: #CCCCCC;
    color: #404040;

}

.MyCont{

    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: flex-start;
    position:relative;

}

.MyFrame{

    position: relative;
    width: 500px;
    /* 超出部分隐藏 */
    overflow: hidden;
    margin: auto;
    display: flex;

}

.MyTextArea{

    resize: none;
    font-size: 30px;

}

.MyContFrame{

    width: 100%;
    height: 100%;
    flex-shrink: 0;

}

#MySignIn{

    padding: 50px 0;

}

#MySignUp{

    padding: 50px 0;

}

.MySignIn-Label{

    font-size: 30px;
    font-family: 黑体, serif;

}

.MySignIn-Submit{

    font-size: 25px;
    font-family: 黑体, serif;

}

.Myiframe{

    border: 0;
    height: 50px;

}