.MyTitle {

    color: #CCCCCC;
    background-color: #202020;
    text-align: left;
    padding: 20px;

}

.MyAside{

    position: fixed;
    left: 0;
    background: #7c7c7c;
    width: 50px;
    height: 100%;
    transition: width 2s;

}

.MyAside:hover{
    width: 250px;
}

.AsideControlButton{

    border: 0;
    position: absolute;
    padding: 0 0 0 0;
    background-color: black;
    right: 0;
    width: 50px;
    opacity: 100%;
    transition: opacity 2s,padding 2s;

}

.MyAside:hover .AsideControlButton{
    opacity: 0;
    padding: 0 100px 0 100px;
}

.MyAside-Item{

    border-width: 5px 0 5px 0;
    border-color: #222222;
    width: 100%;
    text-align: center;

}