.PageJumpButton {

    margin-top: 10px;
    margin-bottom: 20px;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    color: #fff;
    background-color: #313131;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 5px gray;
    letter-spacing: .08em;
    text-indent: .08em;
    transition: all 0.1s;

}

.PageJumpButton:hover {

    background-color: #56aed9;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin: 8px 5px 18px;

}

.PageJumpButton.CurrentPage {

    background-color: #0098dc;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    margin: 6px 8px 16px;

}

.PageJumpButton:first-child{

    margin-left: 0;

}

.PageJumpButton:last-child{

    margin-right: 0;

}