*{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    user-select: none;
}

#QuestionNaireInfoPage-Cont{

    background-color: #fff5eb;

}

#QuestionNaireInfoPage-Title{

    font-family: 黑体, serif;
    padding: 20px;

}

.QuestionNaireInfoPage-UserName{

    font-family: 黑体, serif;
    text-align: right;
    padding: 0 30px;

}

.QuestionNaireInfoPage-Time{

    text-align: center;

}

.DivideLine{

    border: 0;
    border-top: 5px double #7c7c7c;

}

#QuestionList{

    list-style-type: none;

}

#QuestionList li{

    padding: 10px 20px;

}

.QuestionNaireInfoPage-QuestionTitle{

    padding: 0 5%;
    text-align: left;
    color: #1e0000;

}

.QuestionNaireInfoPage-QuestionAnswerRegion{

    padding: 0 0 0 8%;

}

.QuestionNaireInfoPage-QuestionAnswer-Enter-textField{

    margin: 20px 0;
    width: 100%;

}

.QuestionNaireInfoPage-QuestionAnswer-Single-Radio{

    margin: 20px 10px;

}

.QuestionNaireInfoPage-QuestionAnswer-Multiple-CheckBox{

    margin: 20px 10px;

}