*{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    user-select: none;
}

#QuestionNaireListView{

    position: relative;
    padding: 0;
    width: 100%;

}

.QuestionNaireListView-li{

    margin: 10px;
    padding: 20px;
    background-color: #CCCCCC;
    list-style-type:none;
    transition: background-color 0.25s;

}

.QuestionNaireListView-li:hover{

    background-color: #222222;

}

.QuestionNaireListView-li:hover *{

    color: #CCCCCC;

}

.QuestionNaireListView-li *{

    font-family: 黑体, serif;
    position: relative;
    transition: color 0.2s;

}

.QuestionNaireListView-li h1{

    font-size: 30px;
    margin: 10px;
    text-align: left;

}

.QuestionNaireListView-li div{

    font-size: 20px;
    text-align: right;
    margin: 5px;

}

.HomePageJumpButton{

    position: relative;
    margin: 0 10px;
    padding: 5px;
    background-color: white;
    transition: color 0.1s,background-color 0.15s;

}

.HomePageJumpButton:hover{

    background-color: #404040;
    color: #CCCCCC;

}