.QuestionNaireListView-li {

    margin: 10px;
    list-style-type: none;
    display: grid;
    grid-template-columns: 100% 0;
    transition: all 0.5s;

}

.QuestionNaireListView-li:hover {

    grid-template-columns: calc(100% - 75px) 75px;

}

.QuestionNaire-QuestionInfo {

    background-color: #f8f9fa;
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
    transition: all 0.5s;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.QuestionNaireListView-li:hover .QuestionNaire-QuestionInfo {

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: calc(100% - 10px);

}

.QuestionNaire-QuestionInfo * {

    color: rgba(157, 158, 116, 0.84);

}

.QuestionNaireListView-li-Title {

    text-align: left;
    margin: 30px 30px 10px 30px;

}

.QuestionNaireListView-li-User {

    text-align: right;
    margin: 0 25px 5px 0;

}

.QuestionNaireListView-li-StartTime {

    text-align: right;
    margin: 0 25px 25px 0;

}

.QuestionNaire-QuestionDelete {

    width: 100%;
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    text-align: center;
    transition: all 0.5s;
    opacity: 0;
    line-height: 0;
    text-wrap: none;
    padding-top: 100%;

}

.QuestionNaireListView-li:hover .QuestionNaire-QuestionDelete {

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    opacity: 100%;

}

.QuestionNaire-QuestionDelete:hover {

    background-color: rgb(255, 0, 0);

}

.QuestionNaireListView-li h1 {

    font-size: 30px;

}

.QuestionNaireListView-li div {

    font-size: 20px;

}