*{

    margin: 0;
    padding: 0;

}

#UserList-ul{

    padding: 5%;

}

.UserList-li{

    list-style-type:none;

    display: flex;

    justify-content: space-between;

    padding:5px 10%;

}

.UserList-li-Content{

}