<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"
>

    <servlet>
        <servlet-name>Servlet_SignIn</servlet-name>
        <servlet-class>Servlet_SignIn</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet_SignIn</servlet-name>
        <url-pattern>/Servlet_SignIn</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Servlet_SignUp</servlet-name>
        <servlet-class>Servlet_SignUp</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet_SignUp</servlet-name>
        <url-pattern>/Servlet_SignUp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Servlet_LookThroughQuestionnaires</servlet-name>
        <servlet-class>Servlet_LookThroughQuestionnaires</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet_LookThroughQuestionnaires</servlet-name>
        <url-pattern>/Servlet_LookThroughQuestionnaires</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Servlet_GetQuestionNaireNum</servlet-name>
        <servlet-class>Servlet_GetQuestionNaireNum</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet_GetQuestionNaireNum</servlet-name>
        <url-pattern>/Servlet_GetQuestionNaireNum</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Servlet_GetQuestionNaireInfo</servlet-name>
        <servlet-class>Servlet_GetQuestionNaireInfo</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet_GetQuestionNaireInfo</servlet-name>
        <url-pattern>/Servlet_GetQuestionNaireInfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Servlet_PostAnswerNaire</servlet-name>
        <servlet-class>Servlet_PostAnswerNaire</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet_PostAnswerNaire</servlet-name>
        <url-pattern>/Servlet_PostAnswerNaire</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Servlet_GetUserList</servlet-name>
        <servlet-class>Servlet_GetUserList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet_GetUserList</servlet-name>
        <url-pattern>/Servlet_GetUserList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Servlet_DropUser</servlet-name>
        <servlet-class>Servlet_DropUser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet_DropUser</servlet-name>
        <url-pattern>/Servlet_DropUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Servlet_CreateQuestionNaire</servlet-name>
        <servlet-class>Servlet_CreateQuestionNaire</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet_CreateQuestionNaire</servlet-name>
        <url-pattern>/Servlet_CreateQuestionNaire</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Servlet_TryUseSessionSingIn</servlet-name>
        <servlet-class>Servlet_TryUseSessionSingIn</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet_TryUseSessionSingIn</servlet-name>
        <url-pattern>/Servlet_TryUseSessionSingIn</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Servlet_SignOff</servlet-name>
        <servlet-class>Servlet_SignOff</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet_SignOff</servlet-name>
        <url-pattern>/Servlet_SignOff</url-pattern>
    </servlet-mapping>

</web-app>